@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

:root {
  --violeta: #8b48bf;
  --celeste-brillante: #3cddf3;
  --azul-grisaceo-oscuro: #1e1e26;
  --azul-muy-oscuro: #232851;
  --variante-gris-claro: rgb(249, 249, 249);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
}

/* Estilos del header */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1400px;
  height: 174px;
  margin: 0 auto;
}

.header_logo {
  height: 25px;
}

.header_nav { 
  display: flex;
  gap: 28px;
}

.header_nav li {
  list-style: none;
  font-size: 13px;
  color: var(--azul-grisaceo-oscuro);
}

.header_nav li:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header_button {
  width: 134px;
  height: 44px;
  background-color: var(--violeta);
  color: var(--variante-gris-claro);
  border-radius: 50px;
  border: none;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
  font-family: inherit;
}

.clase_boton {
  width: 134px;
  height: 44px;
  background-color: #8b48bf;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
}

/* Fin estilos del header */
/* Estilos section_tennista */
.section_tenista {
  display: flex;
  padding: 68px 40px;
  justify-content: center;
  align-items: center;
}

.section_tenista_img {
  width: 100%;
  height: auto;
  max-width: 540px;
  max-width: 100%
}

.section_tenista_texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 28px;
  padding-left: 100px;
  text-align: right;
}

.section_tenista_texto h1 {
  width: 450px;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 1.14;
  color: var(--azul-muy-oscuro);
}

.section_tenista_texto p {
  width: 450px;
}

/* Fin estilos section_tennista */
/* Estilos section_pros1 */
.section_pros1 {
  background-color: var(--violeta);
  color: var(--variante-gris-claro);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  padding: 40px 220px;
}

.section_pros1 h2 {
  width: 460px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.14;
}

.section_pros1 p {
  width: 460px;
  line-height: 1.5;
}


/* Fin estilos section_pros1 */
/*Estilos section_pros2*/
.section_pros2 {
  margin: 0 auto;
  padding: 40px 0px;
  background-color: var(--variante-gris-claro);
}

.section_pros2_top {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.section_pros2_bottom {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 24px;
}

.section_pros2_card {
  width: 530px;
}

.section_pros2_card_title {
  display: flex;
  align-items: center;
}

.section_pros2_card_title button {
  width: 69px;
  height: 43px;
  background-color: var(--violeta);
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 700;
  font-family: inherit;
}

.section_pros2_card_title p {
  font-weight: 500;
  margin-left: 20px;
  color: var(--azul-muy-oscuro);
}

.section_pros2_card_body {
  line-height: 1.5;
  padding-left: 89px;
  color: #B3B2B7;
}

/*Fin estilos section_pros2*/
/*Estilos section_best*/
.section_best {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 97px 0px 180px 0px;
  color: var(--azul-muy-oscuro);
}

.section_best h2 {
  font-size: 39px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -1px;
  color: var(--azul-muy-oscuro);
}

.section_best_comments {
  display: flex;
  background-color: var(--variante-gris-claro);
  margin: 100px 0px 45px 0px;
}

.section_best_comments_card {
  width: 445px;
  padding: 52px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.section_best_comments_card img {
  width: 100%;
  height: auto;
  max-width: 70px;
  position: absolute;
  top: -35px;
}

.section_best_comments_card p:first-of-type {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -.5px;
  color: var(--azul-muy-oscuro);
}

.section_best_comments_card p:last-of-type {
  font-weight: 400;
  line-height: 1.5;
  color: #B3B2B7;
  text-align: center;
  margin-top: 21px;
}

/*Fin estilos section_best*/

/*footer*/
footer {
  display: flex;
  background-color: #1e1e26;
  color: rgb(249, 249, 249);
  justify-content: space-around;
  padding: 52px 20px;
}

.Union_logo_iconos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer li {
  list-style: none;
  margin-bottom: 20px;
}

.Flex_iconos {
  display: flex;
  gap: 13px;
}

@media (max-width: 480px) {
  .section_tennista {
    flex-direction: column;
  }
}

.section_year {
  display: flex;
  height: 224px;
  background-color: #8b48bf;
  color: rgb(249, 249, 249);
  justify-content: space-around;
  padding: 64px 210px 90px 165px;
}

.section_year p {
  font-size: 40px;
}

.Goforlt {
  width: 134px;
  height: 44px;
  background-color: #fff;
  color: #8b48bf;
  padding: 10px 25px 10px 25px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);

}

.ListaConEspacios {
  list-style-type: disc;
  margin-bottom: 8px;
}

.Copyright {
  bottom: 0;
  width: 100%;
  color: #8c8c94;
  background-color:#1e1e26;
  text-align: right;
  padding: 0px 100px 30px 0px;
}

input[type="email"] {
  width: 201px;
  height: 44px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 50px;

}

input[type="submit"] {
  background-color: #8b48bf;
  width: 63px;
  height: 42px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #8b48bf;
}



