@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

:root {
  --violeta: #8b48bf;
  --celeste-brillante: #3cddf3;
  --azul-grisaceo-oscuro: #1e1e26;
  --azul-muy-oscuro: #232851;
  --variante-gris-claro: rgb(249, 249, 249);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
}

/* Estilos del header */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1300px;
  height: 174px;
  margin: 0 auto;
}

.header_logo {
  height: 25px;
}

.header_nav {
  display: flex;
  gap: 28px;
}

.header_nav li {
  list-style: none;
  font-size: 13px;
  opacity: 1;
  color: var(--azul-grisaceo-oscuro);
  transition-property: opacity;
  transition: 0.2s linear;
  padding: 8px;
  border-radius: 50px;
}

.header_nav li:hover {
  cursor: pointer;
  opacity: 0.6;
  background-color: var(--violeta);
  color: white;
  transform: scale(1.15);
}

.header_button {
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.header_hamburger {
  display: none;
}

/* Fin estilos del header */
/* Estilos section_tennista */
.section_tenista {
  display: flex;
  padding: 68px 40px;
  justify-content: center;
  align-items: center;
}

.section_tenista_img {
  width: 100%;
  height: auto;
  max-width: 540px;
}

.section_tenista_texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 28px;
  padding-left: 100px;
  text-align: right;
}

.section_tenista_texto h1 {
  width: 450px;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 1.14;
  color: var(--azul-muy-oscuro);
}

.section_tenista_texto p {
  width: 450px;
}

.section_tenista_texto button {
  cursor: pointer;
}

/* Fin estilos section_tennista */
/* Estilos section_pros1 */
.section_pros1 {
  background-color: var(--violeta);
  color: var(--variante-gris-claro);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  padding: 40px 220px;
}

.section_pros1 h2 {
  width: 460px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.14;
}

.section_pros1 p:first-of-type {
  width: 460px;
  line-height: 1.5;
}
.section_pros1 p:last-of-type {
  display: none;
  line-height: 1.5;
}

/* Fin estilos section_pros1 */
/*Estilos section_pros2*/
.section_pros2 {
  margin: 0 auto;
  padding: 40px 0px;
  background-color: var(--variante-gris-claro);
}

.section_pros2_top {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.section_pros2_bottom {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 24px;
}

.section_pros2_card {
  width: 530px;
}

.section_pros2_card_title {
  display: flex;
  align-items: center;
}

.section_pros2_card_title span {
  width: 69px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--violeta);
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  font-family: inherit;
}

.section_pros2_card_title h3 {
  font-weight: 500;
  margin-left: 20px;
  color: var(--azul-muy-oscuro);
  font-size: 16px;
}

.section_pros2_card_body {
  line-height: 1.5;
  padding-left: 89px;
  color: #b3b2b7;
}

/*Fin estilos section_pros2*/
/*Estilos section_best*/
.section_best {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 97px 0px 180px 0px;
  color: var(--azul-muy-oscuro);
}

.section_best h2 {
  font-size: 39px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -1px;
  color: var(--azul-muy-oscuro);
}

.section_best_comments {
  display: flex;
  background-color: var(--variante-gris-claro);
  margin: 100px 0px 45px 0px;
}
.section_best button {
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.section_best button:hover {
  opacity: 0.7;
}

.section_best_comments_card {
  width: 445px;
  padding: 52px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.section_best_comments_card img {
  width: 100%;
  height: auto;
  max-width: 70px;
  position: absolute;
  top: -35px;
}

.section_best_comments_card p:first-of-type {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.5px;
  color: var(--azul-muy-oscuro);
}

.section_best_comments_card p:last-of-type {
  font-weight: 400;
  line-height: 1.5;
  color: #b3b2b7;
  text-align: center;
  margin-top: 21px;
}

/*Fin estilos section_best*/

/*footer*/
footer {
  display: flex;
  background-color: #1e1e26;
  color: rgb(249, 249, 249);
  justify-content: space-around;
  padding: 52px 20px 0px 20px;
  height: 180px;
}

footer li {
  list-style: none;
  margin-bottom: 0px;
}

.footer_logo_icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_logo_icons img {
  width: 106px;
}

.footer_logo_icons ul {
  display: flex;
  gap: 13px;
}
@keyframes snake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.footer_logo_icons ul li img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.footer_logo_icons ul li img:hover {
  animation: snake 1s ease-in-out infinite;
}
.footer_quick_access_container {
  display: flex;
  gap: 200px;
}

.footer_quick_access li {
  cursor: pointer;
  position: relative;
}
@keyframes bar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.footer_quick_access li::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: white;
  left: 0px;
  bottom: -2px;
  opacity: 0;
}
.footer_quick_access li:hover::after {
  opacity: 1;
  animation: bar 0.2s ease-in-out forwards;
}
.footer_quick_access {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.footer_quick_access li {
  list-style-type: none;
}

.section_year {
  display: flex;
  height: 224px;
  background-color: #8b48bf;
  color: rgb(249, 249, 249);
  justify-content: space-around;
  align-items: center;
  padding: 0px 210px 0px 165px;
}

.section_year h4 {
  font-size: 40px;
}
.section_year h4 br:nth-child(odd) {
  display: none;
}
.section_year button {
  width: 134px;
  height: 44px;
  background-color: #fff;
  color: #8b48bf;
  padding: 10px 25px 10px 25px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  font-family: inherit;
}

.footer_form {
  display: flex;
  gap: 8px;
}

.copyright {
  bottom: 0;
  width: 100%;
  color: #8c8c94;
  background-color: #1e1e26;
  text-align: right;
  padding: 0px 122px 30px 0px;
  font-size: 12px;
}

input[type="email"] {
  width: 201px;
  height: 44px;
  margin: 0 auto;
  padding: 20px 12px;
  background-color: white;
  border: 1px solid #ccc;
  color: #a0a0a0;
  border-radius: 50px;
  font-size: 13px;
  font-family: inherit;
}

input[type="submit"] {
  background-color: #8b48bf;
  width: 63px;
  height: 42px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: inherit;
}

input[type="submit"]:hover {
  background-color: #8b48bf;
}

/* Fin footer */
/* Reutilizable */
.clase_boton {
  width: 134px;
  height: 44px;
  background-color: #8b48bf;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
}
/* Fin reutilizable */

@media (max-width: 480px) {
  .header {
    justify-content: space-between;
    padding: 0px 56px;
    height: 140px;
  }
  .header_nav,
  .header_button {
    display: none;
  }

  .header_hamburger {
    display: block;
    cursor: pointer;
  }

  .section_tenista {
    flex-direction: column;
    padding: 0px 40px;
    margin-bottom: 40px;
  }

  .section_tenista_img {
    max-width: 400px;
    margin-bottom: 100px;
  }

  .section_tenista_texto {
    padding: 0px;
  }
  .section_tenista_texto h1 {
    width: auto;
  }
  .section_tenista_texto p {
    width: auto;
  }

  .section_pros1 {
    flex-direction: column;
    background-color: var(--celeste-brillante);
    padding: 50px 20px;
    margin-bottom: 65px;
    gap: 50px;
  }
  .section_pros1 h2,
  .section_pros1 p {
    width: auto;
  }
  .section_pros1 p:first-of-type {
    display: none;
  }
  .section_pros1 p:last-of-type {
    display: block;
  }
  .section_pros2 {
    background-color: white;
    padding: 0px;
    margin-bottom: 68px;
  }
  .section_pros2_top {
    flex-direction: column;
    gap: 30px;
  }
  .section_pros2_bottom {
    margin-top: 30px;
  }
  .section_pros2_card {
    width: auto;
  }
  .section_pros2_card_title {
    background-color: rgba(139, 72, 191, 0.3);
    position: relative;
    margin-left: 60px;
  }
  .section_pros2_card_title span {
    position: absolute;
    left: -30px;
  }
  .section_pros2_card_title h3 {
    color: var(--azul-muy-oscuro);
    letter-spacing: -0.5px;
    line-height: 43px;
    height: 43px;
    padding-left: 56px;
    margin: 0px;
  }

  .section_pros2_card_body {
    padding: 31px 15px 0px 44px;
  }

  .section_best {
    padding: 0px;
    margin-bottom: 58px;
  }
  .section_best_comments {
    margin-left: 16px;
    margin-right: 16px;
  }
  .section_best_comments_card {
    width: auto;
    padding: 52px 20px 16px;
  }
  .section_best_comments div:nth-child(odd) {
    display: none;
  }
  .section_year {
    flex-direction: column;
    padding: 0px;
    background-color: var(--celeste-brillante);
    height: auto;
    gap: 60px;
    padding: 40px 0px;
  }
  .section_year h4 {
    width: auto;
    padding: 0px;
    height: auto;
    justify-content: space-around;
    text-align: center;
  }
  .section_year h4 br:nth-child(odd) {
    display: block;
  }
  .section_year button {
    background-color: var(--azul-muy-oscuro);
    color: var(--variante-gris-claro);
  }

  footer {
    flex-direction: column-reverse;
    padding: 0px;
    height: auto;
  }

  .footer_logo_icons {
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
  }

  .footer_logo_icons ul {
    width: 100%;
    padding: 48px 50px 45px;
    justify-content: space-between;
    gap: 0px;
  }
  .footer_quick_access_container {
    display: flex;
    gap: 0px;
    justify-content: space-around;
  }
  .formulario {
    padding: 40px 50px 0px 35px;
  }
  .footer_form {
    padding: 40px 50px 47px 35px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  input[type="email"] {
    width: 100%;
    height: 44px;
    padding: 20px 12px;
  }

  .copyright {
    padding: 45px 0px 60px;
    text-align: center;
  }
}