@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

:root {
  --violeta: #8b48bf;
  --celeste-brillante: #3cddf3;
  --azul-grisaceo-oscuro: #1e1e26;
  --azul-muy-oscuro: #232851;
  --variante-gris-claro: rgb(249, 249, 249);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
}

/* Estilos del header */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1400px;
  height: 174px;
  margin: 0 auto;
}

.header_logo {
  height: 25px;
}

.header_nav {
  display: flex;
  gap: 28px;
}

.header_nav li {
  list-style: none;
  font-size: 13px;
  color: var(--azul-grisaceo-oscuro);
  transition: opacity 0.2s ease-in-out;
}

.header_nav li:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header_button {
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.header_hamburger {
  display: none;
}

/* Fin estilos del header */
/* Estilos section_tennista */
.section_tenista {
  display: flex;
  padding: 68px 40px;
  justify-content: center;
  align-items: center;
}

.section_tenista_img {
  width: 100%;
  height: auto;
  max-width: 540px;
}

.section_tenista_texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 28px;
  padding-left: 100px;
  text-align: right;
}

.section_tenista_texto h1 {
  width: 450px;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 1.14;
  color: var(--azul-muy-oscuro);
}

.section_tenista_texto p {
  width: 450px;
}

.section_tenista_texto button {
  cursor: pointer;
}

/* Fin estilos section_tennista */
/* Estilos section_pros1 */
.section_pros1 {
  background-color: var(--violeta);
  color: var(--variante-gris-claro);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  padding: 40px 220px;
}

.section_pros1 h2 {
  width: 460px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.14;
}

.section_pros1 p:first-of-type {
  width: 460px;
  line-height: 1.5;
}
.section_pros1 p:last-of-type {
  display: none;
}

/* Fin estilos section_pros1 */
/*Estilos section_pros2*/
.section_pros2 {
  margin: 0 auto;
  padding: 40px 0px;
  background-color: var(--variante-gris-claro);
}

.section_pros2_top {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.section_pros2_bottom {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 24px;
}

.section_pros2_card {
  width: 530px;
}

.section_pros2_card_title {
  display: flex;
  align-items: center;
}

.section_pros2_card_title span {
  width: 69px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: var(--violeta);
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  font-family: inherit;
}

.section_pros2_card_title p {
  font-weight: 500;
  margin-left: 20px;
  color: var(--azul-muy-oscuro);
}

.section_pros2_card_body {
  line-height: 1.5;
  padding-left: 89px;
  color: #b3b2b7;
}

/*Fin estilos section_pros2*/
/*Estilos section_best*/
.section_best {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 97px 0px 180px 0px;
  color: var(--azul-muy-oscuro);
}

.section_best h2 {
  font-size: 39px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -1px;
  color: var(--azul-muy-oscuro);
}

.section_best_comments {
  display: flex;
  background-color: var(--variante-gris-claro);
  margin: 100px 0px 45px 0px;
}
.section_best button {
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.section_best button:hover {
  opacity: 0.7;
}

.section_best_comments_card {
  width: 445px;
  padding: 52px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.section_best_comments_card img {
  width: 100%;
  height: auto;
  max-width: 70px;
  position: absolute;
  top: -35px;
}

.section_best_comments_card p:first-of-type {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.5px;
  color: var(--azul-muy-oscuro);
}

.section_best_comments_card p:last-of-type {
  font-weight: 400;
  line-height: 1.5;
  color: #b3b2b7;
  text-align: center;
  margin-top: 21px;
}

/*Fin estilos section_best*/

/*footer*/
footer {
  display: flex;
  background-color: #1e1e26;
  color: rgb(249, 249, 249);
  justify-content: space-around;
  padding: 52px 20px 0px 20px;
  height: 180px;
}

.Union_logo_iconos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Union_logo_iconos img {
  width: 106px;
}

footer li {
  list-style: none;
  margin-bottom: 0px;
}

.Flex_iconos {
  display: flex;
  gap: 13px;
}

.Flex_iconos li img {
  width: 20px;
  height: 20px;
}

.section_year {
  display: flex;
  height: 224px;
  background-color: #8b48bf;
  color: rgb(249, 249, 249);
  justify-content: space-around;
  align-items: center;
  padding: 0px 210px 0px 165px;
}

.section_year p {
  font-size: 40px;
}

.Goforlt {
  width: 134px;
  height: 44px;
  background-color: #fff;
  color: #8b48bf;
  padding: 10px 25px 10px 25px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  font-family: inherit;
}

.ListaConEspacios {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.ListaConEspacios li {
  list-style-type: none;
  /* margin-bottom: 12px; */
}

.Copyright {
  bottom: 0;
  width: 100%;
  color: #8c8c94;
  background-color: #1e1e26;
  text-align: right;
  padding: 0px 122px 30px 0px;
  font-size: 12px;
}

input[type="email"] {
  width: 201px;
  height: 44px;
  margin: 0 auto;
  padding: 20px 12px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #a0a0a0;
  border-radius: 50px;
  font-size: 13px;
  font-family: inherit;
}

input[type="submit"] {
  background-color: #8b48bf;
  width: 63px;
  height: 42px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: inherit;
}

input[type="submit"]:hover {
  background-color: #8b48bf;
}

/* Fin footer */
/* Reutilizable */
.clase_boton {
  width: 134px;
  height: 44px;
  background-color: #8b48bf;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
}

/* Fin reutilizable */

@media (max-width: 480px) {
  .header{
    justify-content:space-between;
    padding: 0px 56px;
    
  }
  .header_nav,
  .header_button {
    display: none;
  }

  .header_hamburger {
    display: block;
  }

  .section_tenista {
    flex-direction: column;
    padding: 0px 40px;
    margin-bottom: 40px;
  }

  .section_tenista_img {
    max-width: 400px;
    margin-bottom: 100px;
  }
  
  .section_tenista_texto {
    padding: 0px;
  }
  .section_tenista_texto h1 {
    width: auto;
  }
  .section_tenista_texto p{
    width: auto;
  }


  .section_pros1 {
    flex-direction: column;
    background-color: var(--celeste-brillante);
    padding: 40px 20px;
    gap: 50px;
  }
  .section_pros1 h2, .section_pros1 p{
    width: auto;
  }
  .section_pros1 p:first-of-type {
    display: none;
  }
  .section_pros1 p:last-of-type {
    display: block;
  }
  .section_pros2 {
    background-color: white;
  }
.section_pros2_top {
    flex-direction: column;
  }
.section_pros2_card{
  width: auto;
}
/* .section_pros2_card_title p::before {
  background-color: rgba(139, 72, 191, 0.3);
  content: "asd";
  position: absolute;
  left: 0px;
} */
  .section_pros2_card_title p {
    color: var(--azul-muy-oscuro);
    background-color: rgba(139, 72, 191, 0.3);
    padding: 10px 0px;
    width: 100%;
    margin: 0px;
  }

  .formulario{
    padding: 40px 50px 0px 50px;
  }

  .section_pros2_card_body{
    padding: 31px 15px 0px 44px;
  }

  .section_best{
    padding: 18px 0px;
  }

.section_best_comments_card {
  width: auto;
  padding: 52px 0px 20px 0px;
}
.section_best_comments div:nth-child(odd) {
  display: none;
}
.section_year{
  flex-direction:column ;
  padding: 0px;
  background-color:var(--celeste-brillante);
}
.section_year p{
  width: auto;
  padding: 0px;
  height: auto;
  justify-content: space-around
}

.Goforlt{
  background-color: var(--azul-muy-oscuro);
  color: var(--variante-gris-claro)
}

footer{
flex-direction: column-reverse;
padding: 0px;
height: auto;
}

.Union_logo_iconos{
  flex-direction: column-reverse;
}
.Flex_iconos{
  padding: 92px 34px  103px 176px;
  gap: 0px;
  justify-content: space-around;
}

.Copyright{
  padding: -11px 133px 50px 133px;
}
}


